/* notfound - 共通 */
.notfound {
  text-align: center;
}
.notfound p {
  font-weight: bold;
}
.notfound p br {
  display: none;
}
.notfound_p_tb {
  padding: 6em 0;
}
.notfound_p_t {
  padding: 6em 0 0;
}
.notfound_p_b {
  padding: 0 0 6em;
}
@media only screen and (max-width: 768px) {
  .notfound p br {
    display: block;
  }
  .notfound_p_tb {
    padding: 3em 0;
  }
  .notfound_p_t {
    padding: 3em 0 0;
  }
  .notfound_p_b {
    padding: 0 0 3em;
  }
}
