@charset "utf-8";
@use "../foundation/mixins" as *;

/* ============================================
// kitchen
// ==========================================*/
.lower-kitchen{
  background: linear-gradient(90deg, rgba(245,239,226,1) 70%, rgba(255,255,255,1) 100%);

  .l-main {
    @include mq(pc) {
      min-height: calc(1080px - 72px - 380px - 34px);
    }
  }
}

.kitchen{
  &__inner {
    padding-top: 48px;
    padding-bottom: 64px;

    @include mq(sp) {
      padding-top: 24px;
      padding-bottom: 32px;
    }
  }

  &__content {
    .list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 32px;
      margin-top: 32px;

      @include mq(sp) {
        margin-top: 24px;
        gap: 24px;
      }

      &__item {
        .imgArea {
          img {
            aspect-ratio: 3/2;
          }
        }
        .textArea{
          margin-top: 8px;
          @include mq(sp){
          margin-top: 4px;
          }
        }
      }
    }
  }
}
