@charset "utf-8";
@use "../foundation/mixins" as *;

/* ============================================
// link
// ==========================================*/
.lower-link {
  background: $bg-color;

  .l-main {
    @include mq(pc) {
      min-height: calc(1080px - 72px - 380px - 34px);
    }
  }
}

.link {
  &__inner {
    max-width: 1180px;
    padding-top: 48px;
    padding-bottom: 64px;

    @include mq(sp) {
      padding-top: 24px;
      padding-bottom: 32px;
    }
  }

  &__content {
    .list {
      margin-top: 24px;
      padding: 24px 32px;
      background: #fff;
      max-width: 1080px;
      margin-inline: auto;

      @include mq(sp) {
        padding: 16px 7.3%;
      }

      &__item {
        border-top: 1px solid rgb($color: $primary-color, $alpha: 0.4);

        &:first-child {
          border-top: none;

          a {
            padding-top: 0;
          }
        }

        &:last-child {
          a {
            padding-bottom: 0;
          }
        }

        a {
          display: block;
          color: $txt-color;
          padding: 16px 0;

          @include mq(sp) {
            padding: 8px 0;
          }
        }
      }
    }
  }
}
