@charset "utf-8";
@use "../foundation/mixins" as *;

/* ============================================
// message
// ==========================================*/
.lower-message{
  background: $bg-color;
  .l-main{
    @include mq(pc){
    min-height: calc(1080px - 72px - 380px - 34px);
    }
  }
}

.message{
  &__inner{
    max-width: 1180px;
    padding-top: 48px;
    padding-bottom: 64px;
    @include mq(sp){
    padding-top: 24px;
    padding-bottom: 32px;
    }
  }
  &__content{
    .title{
      font-family: $mincho;
    }
    .message__body{
      margin-top: 32px;
      line-height: 2.6;
      font-family: $mincho;
      .name{
        font-size: 1.8rem;
        @include mq(sp){
          font-size: 1.6rem;
        }
      }
      @include mq(sp){
        margin-top: 16px;
        line-height: 2;
      }
    }
  }
}
